

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.541);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(68, 68, 68, 0.795);
  border-radius: 10px;
  border: 1px solid rgba(90, 90, 90, 0.671);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(73, 73, 73);
}

::-webkit-scrollbar-corner {
  background: transparent;
}
