name: Build

on:
  #push:
  workflow_dispatch

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    - name: Install dependencies
      run: npm install

    - name: Set build target
      id: set_target
      shell: bash
      run: |
        if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
          echo "target=win" >> $GITHUB_OUTPUT
        elif [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
          echo "target=linux" >> $GITHUB_OUTPUT
        elif [[ "${{ matrix.os }}" == "macos-latest" ]]; then
          echo "target=mac" >> $GITHUB_OUTPUT
        fi

    - name: Build the app
      run: npm run build -- --${{ steps.set_target.outputs.target }}

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.os }}-build
        path: dist/